/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 1110px;
}
.main-heading {
  font-family: 'Bree Serif';
  font-size: 30px;
  font-weight: 800;
  color: #1e293b;
  margin-bottom: 47px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 45px;
    margin-top: 89;
  }
}
.input-container {
  width: 100%;
  height: 40px;
  max-width: 240px;
  border: solid #7b8794 1px;
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .input-container {
    max-width: 480px;
  }
}
.input-element {
  font-size: 15px;
  color: #7b8794;
  font-family: 'Roboto';
  background-color: transparent;
  font-weight: 500;
  outline: none;
  border: none;
  flex-grow: 1;
}
.search-img {
  height: 24px;
  width: 24px;
}
.tabItem-container {
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  list-style-type: none;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .tabItem-container {
    margin-top: 47px;
  }
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-left: 0px;
}
